@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  width: 100%;
  height:0 auto;
  margin:0 auto;
  padding: 0;
  background-color: #0D0D0D;
  font-family: 'poppins', sans-serif;
}

/*role*/
header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 0.1px solid rgb(211, 211, 211);
  background-color: #ffffff;
  color: #3083FE;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 37%;

}


.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  margin-right: 46px;
  display: flex;
  justify-content: center;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}


/*navigation*/
.nav-links a {
  text-decoration: none;
  font-weight: 500;
  padding-left:16px;
  color: #000000;
  font-weight: Medium;
  transition: color 0.3s ease;
  width: 100%;
  height: 0px;
}



.nav-links a:hover {
  color: #3083FE;
  transition: ease-in;


}

.nav-links.show {
  display: flex;
}

.nav-links li {
  margin: 0;
  text-align: center;
  padding: 10px;
}

.hamburger-menu {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

.app1{
width: 1090px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
margin-left:199px;
margin-right: 199px;
margin-top:60px;
color:#ffffff;
font-family: Poppins;
font-style: normal;
line-height: normal;
}

.title_1{
color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
.descrip{
width: 100%;
margin-top: 10px;
color: rgba(255, 255, 255, 0.95);
text-align: justify;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.button_3 {
  display: flex;
  flex-wrap:wrap;
  width:100%;
  margin-top: 40px;
  text-decoration: none;
  padding: 9px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  color: #fff;
  background: var(--43A5FF, #3083FE);
  font-weight: 500;
  font-size: 18px;
}

.button_3:hover {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  display: inline-flex;
  padding: 9px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  color: #1970e1;
  background: var(--43A5FF, #d0e2fe);
  font-size: 18px;
  font-weight: 500;
}

.button_4 {
  width:100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  padding: 9px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  color: #fff;
  background: var(--43A5FF, #3083FE);
  font-weight: 500;
  font-size: 18px;
}

.button_4:hover {
  margin-top: 20px;
  border: 2px #1970e1;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 9px 0px;
  gap: 10px;
  border-radius: 5px;
  color: #1970e1;
  background: var(--43A5FF, #d0e2fe);
  font-size: 18px;
  font-weight: 500;
}

.m{
  background-repeat: no-repeat;
  width: 100%;
  height: 0 auto;
  margin-top: 100px;
}
.m1{
  background-repeat: no-repeat;
  width: 100%;
  height: 0 auto;
  margin-top: -6px;
}
.m2{
  background-repeat: no-repeat;
  width: 100%;
  height: 0 auto;
  margin-top: -7px;
}

.m3{
    background-repeat: no-repeat;
    width: 100%;
    height: 0 auto;
    margin-top: -7px;
  }
  
  /*footer*/

.box {
  border-top:2px solid rgba(100, 100, 100, 0.332); 
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center;
  width: 100%;
  height: 299px;
  color: #FFF;
}

.box .grateful-for-the {
  width: 849px;
  top: 0;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.box .social-media-page {
  margin-top: 20px;
  width: 257px;
  top: 104px;
  left: 296px;
  font-weight: 400;
  color: #ffffff99;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.icons{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.box .linkedin-wrapper {
  width: 48px;
  height: 48px;
  padding: 3px;
  background-color: #ffffff;
  border-radius: 50%;
}

.box .linkedin {
  width: 28px;
  height: 28px;
  padding: 9.5px;
  top: 10px;
  left: 10px;
  object-fit: cover;
}

.box .behance-wrapper {
  width: 48px;
  height: 48px;
  padding: 3px;
  background-color: #ffffff;
  border-radius: 50%;
}

.box .behance {
  width: 28px;
  height: 28px;
  padding: 9.5px;
  top: 10px;
  left: 10px;
  object-fit: cover;
}
